.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px!important;
  overflow: hidden;
}

.createYourOwn {
  position: fixed;
  bottom: 2rem;
  left: 50vw;
  transform: translateX(-50%);
}
