.container {
  min-height: 100vh;
  min-width: 100vw;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px !important;
  overflow: hidden;
}

.content {
  z-index: 999;
  width: 100vw;
}

.content button {
  position: fixed;
  left: 50vw;
  top: 51vh;
  transform: translate(-50%,-50%);

}

.createYourOwn {
  position: fixed;
  bottom: 2rem;
  left: 50vw;
  transform: translateX(-50%);
}

.songMetaData {
  z-index: 999;
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0;
  margin: 0;
  font-size: 1.15rem !important;
  text-align: right;
}

.songMetaData h3 {
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
}

.songMetaData h4 {
  padding: 0;
  margin: 0;
  opacity: 0.66;
  font-size: 1rem;
  font-weight: normal;
}
