.container {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 133vh;
  max-width: 100vw;
  min-height: 100vh;
}

.gif {
}

.video {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  object-fit: cover;
  object-position: center;
}
