.container {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 140vh;
  max-width: 100vw;
  min-height: 100vh;
}

.gif {
  transition: all 0.5ms linear;
}

.video {
  position: absolute;
  transition: all 0.5ms linear;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
